
<banner></banner>
<div class="container" style="top:5%;position: relative;">
  <div #parent class="containter" style="box-shadow: 0px 113px 284px 9px #c2f75a5c;
  margin:auto;padding:10px;height:500px;width:500px;position: relative;border-radius:260px;background-color: #32177b;">
    <canvas #canvas></canvas>
<!--
    <div class="system-container">
        <div class="sun">
        </div>
        <div class="orbitA" style="transform:rotate({{rotatecss}});">
          <div class="planetA">
          </div>
        </div>
        <div class="orbitB" style="transform:rotate({{rotatecss}});">
          <div class="planetB">
        </div>
      </div>
    </div>-->
  
  </div>
  <div class="container" style="margin:auto;padding:10px;position:relative;text-align:center">
    <button style="margin:20px" (click)="animate()">PLAY</button>
  </div>
  <div class="slidecontainer">
    <input [(ngModel)]="sliderValue" (change)="getSliderValue()" type="range" min="50" max="240" value="{{sliderValue}}"
        class="slider" id="myRange">
  </div>
</div>
<router-outlet></router-outlet>