
<header>
  <span>Home</span>
</header>
  <h1>Solar-System 101</h1>
<div #parent class="containter" style="height: 400px;width: 800px;position: relative;background-color: blueviolet;">

  <canvas #canvas></canvas>
  <button (click)="animate()">PLAY</button>
<!--
  <div class="system-container">
      <div class="sun">
      </div>
      <div class="orbitA" style="transform:rotate({{rotatecss}});">
        <div class="planetA">
        </div>
      </div>
      <div class="orbitB" style="transform:rotate({{rotatecss}});">
        <div class="planetB">
      </div>
    </div>
  </div>
-->

</div>
  <div class="slidecontainer">
    <input [(ngModel)]="sliderValue" (change)="getSliderValue()" type="range" min="0" max="360" value="{{sliderValue}}"
      class="slider" id="myRange">
  </div>
<router-outlet></router-outlet>