header{
    background-color: rgb(184, 184, 184);
    height: 40px;
    padding: 10px;

}
.fullscreen{
    width: 100vw;
    height: 90vh;
}
.containter{
    margin:10px;
    padding: 5px;
    max-width: 100%;
}
.system-container{
    height: 400px;
    width: 700px;
    background-color: black;
    margin: auto;
    padding: 10px;
    position: relative;
}
.sun{
    position: absolute;
    margin:auto;
    top: 100px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: orange;
      top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.planetA{
    position:absolute;
    top:0;
    left:0;
    width:10px;
    height:10px;
    background:red;
    border-radius:50%;
}
.planetB{
  position:absolute;
  top:0;
  left:0;
  width:10px;
  height:10px;
  background:blue;
  border-radius:50%;
}
.planetC{
  position:absolute;
  top:0;
  left:0;
  width:15px;
  height:15px;
  background:blueviolet;
  border-radius:50%;
}
.dot2{
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    background:red;
    border-radius:50%;
}
.orbitA{
    margin: auto;
    position: relative;
    top: 100px;
    width:200px;
    height:200px;
    /*transform: rotate(50deg);*/
    /*-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:20s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
    -moz-animation-duration:20s;*/
}
.orbitB{
  margin: auto;
  position: relative;
  top: -50px;
  width:100px;
  height:100px;
  /*transform: rotate(50deg);*/
  /*-webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:20s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
  -moz-animation-duration:20s;*/
}
.orbitC{
  margin: auto;
  position: absolute;
  top: -50px;
  width:200px;
  height:200px;
  /*transform: rotate(50deg);*/
  /*-webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:20s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
  -moz-animation-duration:20s;*/
}
@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes orbit { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(360deg) } 
}



.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

canvas{
  border: 1px solid black;

}