

header{
    background-color: rgb(184, 184, 184);
    height: 40px;
    padding: 10px;

}
.fullscreen{
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    background: rgb(2,0,36);
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 49%, rgba(0,212,255,0.5186449579831933) 100%);
}
.containter{
    margin:10px;
    padding: 5px;
    max-width: 100%;
}
.system-container{
    height: 400px;
    width: 700px;
    background-color: black;
    margin: auto;
    padding: 10px;
    position: relative;
}
.sun{
    position: absolute;
    margin:auto;
    top: 100px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: orange;
      top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.planetA{
    position:absolute;
    top:0;
    left:0;
    width:10px;
    height:10px;
    background:red;
    border-radius:50%;
}
.dot2{
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    background:red;
    border-radius:50%;
}
.orbitA{
    margin: auto;
    position: relative;
    top: 100px;
    width:200px;
    height:200px;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:20s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
    -moz-animation-duration:20s;
}
@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes orbit { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(360deg) } 
}